* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: rgb(239, 209, 101);
}

body {
    background-color: var(--yellow);
}

div#principal {
    background-color: white;
    width: 350px;
    height: 470px;
    margin: 80px auto;
    border-radius: 20px;
    border: 1.5px solid black;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}

figure {
    padding: 20px 0px;
    text-align: center;
}

.imagem {
    border-radius: 20px;
    width: 300px;
    height: auto;
}

.learning {
    background-color: var(--yellow);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    margin-bottom: 10px;

}

.alinhando {
    margin: 10px 0px 10px 20px;
}

.imagem_menor {
    height: 40px;

}

