body {
  background-color: #87CEFA;
}

.boxes {
  margin: 30px auto 10px auto;
  background-color: white;
  width: 420px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 1px;
}

.primeiro {
  padding: 10px 0px;
}

.segundo {
  margin: 20px auto;
  text-align: left;
  width: 405px;
  padding: 2px 0px 2px 15px;
}

.input_texto {
  display: block;
  margin-bottom: 1px;
}

#texto {
  width: 220px;
}

#texto:hover {
  border: 2px solid #5baba9;
}

.botao_gerar {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.botao_gerar:hover, .botao_copiar:hover {
  background-color: rgb(23, 72, 233);
  color: white;
}

.botao_gerar:active, .botao_copiar:active {
  color: #34fc0c;
  font-weight: bold;
}

li {
  margin-bottom: 15px;
}

.titulo_resultado {
  padding-bottom: 2px;
}

.resultado {
  background-color: rgb(212, 255, 219);
  margin-top: 2px;
  padding: 2px 7px;
  width: 420px;
}

.botao_copiar {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

