body {
    background-color: black;
    color: white;
}

#principal {
    width: 400px;
    height: 575px;
    background-color: rgb(31,31, 31);
    text-align: center;
    border-radius: 15px;
    margin: 70px auto;
}

img {
    margin-top: 10px;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

h3 {
    color: rgb(202, 226, 114);
}

a{
    display: block;
    padding: 10px;
    margin: 15px 50px 15px 50px;
    background-color:rgb(51, 51, 51);
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: green;
    background-color: aquamarine;
    border: 1px solid yellow;
}